* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Times New Roman', Arial;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 0 auto;
}
.top {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px 0;
    transition: background-color 250ms;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
}
.top:hover {
    background-color: white;
}
.top p {
    margin-left: 20px;
}
.options {
    transition: color 100ms;
}
.options:hover {
    color: #74186b;
}
.main1 {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    align-items: left;
    background-color: #d8eacc;
    height: 410px;
}
.intro {
    display: flex;
    margin-left: 330px;
}
.title1 {
    font-weight: 700;
    margin-bottom: 25px;
    font-style: italic;
}
.welcome {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
    width: 470px;
}
.info {
    width: 470px;
}
.me-container {
    width: 300px;
    margin-top: -60px;
}
.me {
    width: 100%;
}
.main2 {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    height: 410px;
    margin-bottom: 130px;
}
.results {
    display: flex;
    flex-direction: column;
    margin-left: 420px;
}
.title2 {
    font-style: italic;
    font-size: 22px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.ghk1 {
    display: flex;
}
.chk1 {
    display: flex;
}
.note1, .note2 {
    display: flex;
    flex-direction: column;
    background-color: pink;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 30px;
}
.note2 {
    background-color: rgb(146, 228, 255);
}
.circles-container {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-bottom: 10px;
    width: 70px;
}
.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}
.feelings {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    margin-left: 350px;
}
.happy1-container {
    margin-left: 15px;
}
.happy2-container {
    margin-top: 30px;
    margin-left: 70px;
    width: 160px;
}
.happy2 {
    width: 100%;
}
.main3 {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #d8eacc;
    padding-top: 60px;
    height: 550px;
}
.title3 {
    font-style: italic;
    font-size: 25px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.sub-main {
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin-left: 435px;
    margin-bottom: 10px;
}
.cambridge, .vietnamese {
    display: flex;
    flex-direction: column;
}
.goals {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.goals div {
    font-size: 17px;
}
.goals-image {
    width: 100%;
}
.goals-container {
    width: 15px;
    margin-right: 5px;
}
.star-eyes-container {
    width: 100px;
}
.worried-container {
    margin-top: 25px;
    margin-left: 20px;
    width: 77px;
}
.star-eyes, .worried {
    width: 100%;
}
.determined {
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
}
.fist, .studying {
    width: 100%;
}
.fist-container {
    width: 110px;
    margin-right: 200px;
}
.studying-container {
    width: 90px;
}
.main4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}
.title4 {
    font-style: italic;
    font-size: 25px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.wishes {
    display: flex;
    margin: 0 auto;
}
.parents {
    display: flex;
    flex-direction: column;
    width: 270px;
    margin-right: 55px;
}
.parents, .teachers {
    margin-top: 25px;
}
.parents div, .teachers div {
    width: 200px;
}
.help-hw, .happy-teacher {
    width: 100%;
}
.happy-teacher {
    margin-top: 45px;
}
.help-hw {
    margin-top: 20px;
}